name: Build docker image
run-name: ${{ inputs.image_version }}

on:
  workflow_call:
    inputs:
      image_version:
        required: true
        type: string
    secrets:
      DOCKER_USER:
        required: true
      DOCKER_PASSWORD:
        required: true
      DOCKER_ORGANIZATION:
        required: true
      DOCKER_REPO_NAME:
        required: true
  workflow_dispatch:
    inputs:
      image_version:
        default: v0.0.1
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git fetch --prune --unshallow --tags
    - name: Move sample .env-local
      if: ${{ github.repository_owner == 'influenzanet' }}
      run: mv env-sample.config .env.local
    - name: Copy sample public
      if: ${{ github.repository_owner == 'influenzanet' }}
      run: mv example-public-folder public
    - name: docker login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: Build the Docker image
      run: docker build --file Dockerfile --tag ${{secrets.DOCKER_ORGANIZATION}}/${{secrets.DOCKER_REPO_NAME}}:${{inputs.image_version}} .
    - name: Push Docker image
      run: docker push ${{secrets.DOCKER_ORGANIZATION}}/${{secrets.DOCKER_REPO_NAME}}:${{inputs.image_version}}

